[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "thirdparty/sol2"]
	path = thirdparty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "thirdparty/luac"]
	path = thirdparty/luac
	url = https://github.com/LuaDist/lua.git
